{% extends 'base.html' %} {% block title %} blog page {% endblock %} {% block
content %} <br />
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="/static/img01.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">난 다람쥐</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">난 판다뒷모습</p>
        </div>
        <img src="/static/img02.png" class="card-img-bottom" alt="..." />
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/static/img03.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">난 머지</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/static/칼든토끼.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">난 칼든토끼</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">건망증 다람쥐</p>
          <img src="/static/다람쥐.jpg" class="card-img-top" alt="..." />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
